<div class="body">
  <div class="container">
      <div class="map"></div>
      <div class="content">
          <h3><a>课程</a> / <a>{{course?.courseName}}</a></h3>
          <div class="audio">
              <video src="{{course?.src}}" controls="controls"></video>
              <div>
                  <h4>课程目录</h4>
                  <li>01 github简介</li>
                  <li>02 git命令</li>
                  <li>03 git flow</li>
                  <li>04 github Pages</li>
                  <li>05 github总结</li>
              </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
