<div class="body">
  <div class="container">
      <div class="map"></div>
      <div class="content">
          <h3><img src="assets/images/icon/tongbuke.png"><a>同步课</a> / <a>{{course?.courseName}}</a><button><span>+</span> 申请加入</button></h3>
          <ul class="list">
              <li>
                  <a><img src="assets/images/icon/content.png">简介</a>
              </li>
              <li>
                  <a><img src="assets/images/icon/laugh.png">互动</a>
              </li>
              <li>
                  <a><img src="assets/images/icon/task.png">任务<span>{{course?.task}}</span></a>
              </li>
              <li>
                  <a><img src="assets/images/icon/person.png">成员<span>{{course?.person}}</span></a>
              </li>
          </ul>
      </div>
      <div class="clear"></div>
  </div>
</div>
<app-footer></app-footer>