.body {
    background-color: rgb(250, 251, 252);
}

.container {
    width: 1020px;
    margin: 0px auto;
    padding-top: 20px;
}

.map {
    margin-top: 52px;
}

.content h3 {
    font-size: 18px;
    font-weight: normal;
}

.content h3 img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.content h3 a {
    cursor: pointer;
}

.content h3 a:hover {
    text-decoration: underline;
}

.list {
    background-color: rgb(250, 251, 252);
    margin-left: -30px;
}

.list li {
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 130px;
    float: left;
    cursor: pointer;
}

.list li img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.list li span {
    display: inline-block;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 5px;
}

.clear {
    clear: both;
}

h3 button {
    cursor: pointer;
    position: relative;
    left: 15px;
    width: 80px;
    height: 25px;
    background-color: rgb(255, 110, 61);
    color: white;
    font-size: 14px;
    border: 0px solid #ccc;
    border-radius: 2px;
}

h3 button span {
    color: white;
    font-weight: bold;
}