/* *{
    margin-top: 50px;
} */
.index {
    margin-top: 48px;
    width: 100%;
}

.main {
    width: 1020px;
    margin: 0px auto;
}

.left {
    position: fixed;
    float: left;
    width: 170px;
}

img {
    width: 14px;
    height: 14px;
}

.img img {
    width: 170px;
    height: 170px;
    margin-top: 25px;
    cursor: pointer;
}

.name {
    font-size: 16px;
    height: 33px;
    line-height: 33px;
    text-align: center;
}

.fans {
    height: 49px;
}

.fans a {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.fans .count {
    display: block;
    font-size: 1.6em;
}

hr {
    border: 0.5px solid #ccc;
}

.list {
    margin-top: 15px;
}

.list li {
    height: 33px;
    margin-top: 2px;
    cursor: pointer;
    padding-left: 10px;
}

.first {
    background-color: rgb(255, 152, 103);
    border-radius: 15px;
}

.list li:hover {
    background-color: rgb(255, 152, 103);
    border-radius: 15px;
}

.list li a {
    font-size: 16px;
    line-height: 33px;
}

.list li a img {
    float: left;
    padding-top: 10px;
    margin-right: 10px;
}

.list li a .icon {
    float: right;
    padding-right: 3px;
}

.right {
    margin-top: 40px;
    margin-left: 20px;
    float: right;
    width: 827px;
    border: 0.2px solid #ccc;
}

.top {
    margin-top: 10px;
}

.do {
    margin-left: 10px;
    float: left;
}

.do li {
    width: 85px;
    height: 42px;
    float: left;
    cursor: pointer;
    padding-left: 10px;
}

.do li a {
    font-size: 16px;
    line-height: 42px;
}

.do li a:hover {
    color: rgb(151, 107, 31);
}

.do li img {
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.active {
    border-bottom: 3px solid rgb(255, 110, 61);
}

.active a {
    color: rgb(255, 110, 61);
}

.search {
    float: right;
    margin-right: 15px;
}

.search input {
    border: 0.5px solid #ccc;
    border-radius: 4px 0 0 4px;
    color: #9e9e9e;
    width: 160px;
    height: 30px;
    padding-left: 5px;
    position: relative;
    top: 3px;
}

.search input:hover {
    border: 0.5px solid red;
    border-radius: 4px 0 0 4px;
}

.search button {
    width: 38px;
    height: 31px;
    background-color: rgb(228, 228, 228);
    border: 0.5px solid #ccc;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    position: relative;
    top: 5px;
}

.search img {
    width: 14px;
    height: 14px;
    padding-top: 2px;
}

.bottom {
    margin-top: 200px;
    text-align: center;
    color: #666;
    margin-bottom: 150px;
}

.bottom img {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0px auto;
    margin-bottom: 15px;
}

.task1 {
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
}

.task {
    margin-top: 10px;
    padding: 10px;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.task h3 {
    font-size: 16px;
    font-weight: normal;
}

.task span {
    color: rgb(250, 81, 3);
    font-size: 14px;
    margin-left: 5px;
    font-weight: bold;
    border: 1px solid rgb(250, 81, 3);
    padding: 2px;
    border-radius: 5px;
}

.task .score {
    float: right;
    border: none;
    color: rgb(3, 184, 207);
}

.nv {
    margin-top: 10px;
    background-color: rgb(245, 245, 245);
    height: 28px;
    line-height: 28px;
}

.nv span {
    color: #333;
    border: none;
}

.nv img {
    position: relative;
    top: 2px;
    left: 5px;
    right: 5px;
}

.eye {
    width: 18px;
    height: 18px;
    float: right;
    margin-top: 3px;
    margin-right: 10px;
    cursor: pointer;
}

.clear {
    clear: both;
}