<ion-header text-center no-border>
  <ion-navbar color="yel">

    <button ion-button ion-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      桔家
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <!-- 底部tabs的字体和图标颜色，在app,scss里进行了设置，找到对应的类，设置好颜色就行大家可以自己审查元素看看，或者改变variable,scss文件中的primary变量的颜色值，框架中大部分默认颜色就是这个变量 -->
  <!-- 导航栏 -->
  <ul class="navList">
     <li *ngFor="let item of arr;let idx=index;" (click)="isClick(idx)" [class.first]="isActive==idx">{{item}}</li>
    <!-- <li (click)="isClick(0)" [class.first]="isActive==0">推荐</li>
    <li (click)="isClick(1)" [class.first]="isActive==1">家具</li>
    <li (click)="isClick(2)" [class.first]="isActive==2">餐厨</li>
    <li (click)="isClick(3)" [class.first]="isActive==3">床上用品</li> -->
  </ul>
  <div [ngSwitch]="isActive">
    <div *ngSwitchCase="0">
    <!-- 轮播 -->
    <ion-slides pager="true" autoplay="1000" loop="true" class="sli">
        <ion-slide>
          <img src="assets/imgs/slide1.png" alt="">
        </ion-slide>
        <ion-slide>
          <img src="assets/imgs/slide1.png" alt="">
        </ion-slide>
        <ion-slide>
            <img src="assets/imgs/slide1.png" alt="">
        </ion-slide>
      </ion-slides>
      <div class="subtitle">
        <h3>热|门|推|荐</h3>
        <p>RECOMMENDATION</p>
      </div>
      <!-- 商品列表没用grid，改用普通li了，大家看看怎么写 -->
      <!-- 多行缩进tab,多行前进tab+shift,光标移动到行首home,光标移动到行尾end,ctrl -->
      <ul class="goods">
        <li>
          <img src='assets/imgs/img1.png' alt="">
          <p>--北欧原木色--</p>
          <span><ion-icon name="md-star-half"></ion-icon></span>
        </li>
        <li>
          <img src="assets/imgs/img2.png" alt="">
          <p>--北欧原木色--</p>
          <span><ion-icon name="md-star-half"></ion-icon></span>
        </li>
        <li>
            <img src="assets/imgs/img3.png" alt="">
            <p>--北欧原木色--</p>
            <span><ion-icon name="md-star-half"></ion-icon></span>
        </li>
        <li>
            <img src="assets/imgs/img4.png" alt="">
            <p>--北欧原木色--</p>
            <span><ion-icon name="md-star-half"></ion-icon></span>
        </li>
        <li>
            <img src="assets/imgs/img1.png" alt="">
            <p>--北欧原木色--</p>
            <span><ion-icon name="md-star-half"></ion-icon></span>
        </li>
        <li>
            <img src="assets/imgs/img1.png" alt="">
            <p>--北欧原木色--</p>
            <span><ion-icon name="md-star-half"></ion-icon></span>
        </li>
      </ul>
    </div>
<!-- 家居页 -->
    <div *ngSwitchCase="1">
      <!-- 轮播 -->
      <ion-slides pager="true" autoplay="1000" loop="true" class="sli">
        <ion-slide>
          <img src="assets/imgs/house1.png" alt="">
        </ion-slide>
        <ion-slide>
          <img src="assets/imgs/house1.png" alt="">
        </ion-slide>
        <ion-slide>
            <img src="assets/imgs/house1.png" alt="">
        </ion-slide>
      </ion-slides>
      <!-- 三分区 -->
      <div class="three">
        <div class="t1"><img src="assets/imgs/house2.png"></div>
        <div class="t1"><img src="assets/imgs/house3.png"></div>
        <div class="t1"><img src="assets/imgs/house4.png"></div>
      </div>
    </div>
<!-- 餐厨页 -->
    <div *ngSwitchCase="2">
      这是餐厨页
    </div>
    <div *ngSwitchCase="3">
      这是床上用品页
    </div>
  </div>
  
  <!-- css工具集--theme下
  sass变量（全局）--variable.scss
  slides组件、属性、方法及事件
  @ViewChild()
  创建组件ionic g component componentName
  模板引用变量，标签上写 #变量名
  segment组件及ngSwitch
  服务器代理ionic.config.json -->
  <!-- <ion-segment [(ngModel)]="icons" color="secondary">
    <ion-segment-button value="camera">
      <ion-icon name="camera"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-icon name="bookmark"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="icons">
    <div *ngSwitchCase="'camera'">
      这是camera
    </div>
    <div *ngSwitchCase="'bookmark'">
      这是bookMark
    </div>
  </div> -->

  <!-- <c #ac></c> -->
  <!-- <input type="text" #inp>
  <button ion-button menuToggle>开关菜单</button> -->
  <!-- 跳转按钮 -->
  <!-- <button ion-button block (click)="goSub()">跳转</button> -->
  
  <!-- 列表 -->
  <!-- <ion-list>
    <ion-item detail-push>Item</ion-item>
    <ion-item>Item</ion-item>
    <ion-item>Item</ion-item>
    <ion-item no-lines>Item</ion-item>
    <ion-item>
      <h2>Item</h2>
      <p>Item Paragraph</p>
      <ion-thumbnail item-end>
        <img src="assets/imgs/logo.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-sliding>
      <ion-item>
        Item
      </ion-item>
      <ion-item-options>
        <button ion-button color="primary" (click)="archive()">Archive</button>
      </ion-item-options>
    </ion-item-sliding>
</ion-list> -->


  <!-- 普通的按钮 -->
  <!-- //<button ion-button>Default</button> -->
  <!-- <button ion-button (click)="register">注册</button> -->
  
  <!-- <ion-list>
    <ion-item *ngFor="let item of items;" detail-push>
      {{item}}
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
