/* *{
    margin-top: 50px;
}
.container{
    width:1200px;
    margin:0 auto;
}
.container li{
    width:297px;
    float:left;
    margin-right:3px;
} */
.container {
    width: 1020px;
    margin: 0px auto;
    padding-top: 5px;
}

.map {
    margin-top: 60px;
}

.container li {
    margin-left: 12px;
    border: 0.5px solid #ccc;
    border-radius: 2px;
    width: 241px;
    height: 260px;
    float: left;
    margin-top: 20px;
}

.container li:hover {
    border: 0.5px solid #999;
    opacity: 0.9;
}

.container li h3 {
    text-align: center;
    height: 54px;
    color: #333;
    font-weight: normal;
    font-size: 16px;
}

li img {
    padding: 5px;
    width: 230px;
    height: 140px;
}

.task {
    position: relative;
    top: 15px;
}

.task img {
    width: 18px;
    height: 18px;
}

.task a {
    margin-right: 10px;
}

.task a span {
    color: #666;
    font-size: 14px;
    position: relative;
    top: -6px;
}

.task button {
    cursor: pointer;
    float: right;
    position: relative;
    top: 2px;
    right: 5px;
    width: 60px;
    height: 25px;
    background-color: rgb(255, 110, 61);
    color: white;
    font-size: 14px;
    border: 0px solid #ccc;
    border-radius: 2px;
}

.task button span {
    color: white;
    font-weight: bold;
}