<div class="container">
  <ul>
      <div class="map"></div>
      <li *ngFor="let i of course">
          <a [routerLink]="['/tongbu',i.id]">
              <img src="{{i.images}}" alt="">
              <h3>{{i.courseName}}</h3>
              <div class="task">
                  <a><img src="assets/images/icon/tasklist.png"><span>{{i.task}}</span></a>
                  <a><img src="assets/images/icon/renwu.png"><span>{{i.person}}</span></a>
                  <button><span>+</span> 申请</button>
              </div>
          </a>
      </li>
  </ul>
</div>
<app-footer></app-footer>

<!-- <h2>{{courseId}}</h2>
<button (click)='go()'>跳转到社区</button>
<div class="container">
  <ul>
    <li *ngFor="let course of courses;">
      <a [routerLink]="['/tongbu',course.id]">
      <img src="{{course.images}}" alt="">
      <h3>{{course.courseName}}</h3>
      <div>
        <span>{{course.task}}</span>
        <span>{{course.person}}</span>
        <button>申请</button>
      </div>
    </a>
    </li>
  </ul>
</div> -->