page-setting {

    // ion-header{
    //     background-color:#ffdb2c!important;
    // }
    .second{
        background-color: #eeeeee;
    }
    .exit{
        width:100%;
        height:50px;
        background-color:#ffdb2c;
        font-size:18px;
        text-align:center;
        line-height:50px;
    }
}
